@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
    margin: 0;
}

html {
    overflow-x: hidden;
}

.nav {
    position: fixed;
    width: 100vw;
    height: 55px;
    background: #27509B;
    z-index: 2;
    top: 0;

}

.content {
    margin: 0 auto;
    width: 50%;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;

}

.active {
    text-decoration: underline !important;
}

.content a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color: #FFFFFF;
    text-decoration: none;
}


.content a:hover {
    text-decoration: underline;
}

.burger-menu {
    display: none;
}

.menu-btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu-btn>span,
.menu-btn>span::before,
.menu-btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition-duration: .25s;
}

.menu-btn>span::before {
    content: '';
    top: -8px;
}

.menu-btn>span::after {
    content: '';
    top: 8px;
}

.menubox {
    display: block;
    position: fixed;
    visibility: hidden;
    top: -100%;
    left: 00%;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 100px 0;
    list-style: none;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
}





#menu-toggle:checked~.menu-btn>span {
    transform: rotate(45deg);
}

#menu-toggle:checked~.menu-btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu-toggle:checked~.menu-btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu-toggle:checked~.menubox {
    visibility: visible;
    left: 0;
}

.menu-btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 15px;
    right: 25px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu-btn>span,
.menu-btn>span::before,
.menu-btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition-duration: .25s;
}

.menu-btn>span::before {
    content: '';
    top: -8px;
}

.menu-btn>span::after {
    content: '';
    top: 8px;

}



.menu-item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-decoration: none;
    transition-duration: .25s;
    margin-top: 30px;
}

.menu-item:hover {
    background-color: #CFD8DC;
    color: #27509B;
}


#menu-toggle {
    opacity: 0;
}

#menu-toggle:checked~.menu-btn>span {
    transform: rotate(45deg);
    background-color: #000000;
}

#menu-toggle:checked~.menu-btn>span::before {
    top: 0;
    transform: rotate(0);
    background-color: #000000;
}

#menu-toggle:checked~.menu-btn>span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: #000000;
}

#menu-toggle:checked~.menubox {
    visibility: visible;
    top: 0;
}

.head {
    margin-top: 86px;
}

.head h1 {
    width: 969px;
    height: 45px;


    background: #27509B;
    border-radius: 2px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */


    color: #FFFFFF;
    text-align: center;
}

.image {
    height: 463px;
    width: 100vw;
    margin-top: 50px;
    /* background-image: url(images/pages/3.png); */
    background-size: cover;
    background-position-y: -100px;
}

.middle {
    margin: 0 auto;
    margin-top: 43px;
    width: 70%;
}

.middle p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #000000;
}

.middle ul {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #000000;
}

.line {
    margin: 0 auto;
    width: 731px;
    height: 0px;
    border: 1px solid #000000;
    margin-top: 124px;
}

.footer {
    /* background-image: url(/images/pages/4.png); */
    background-size: cover;
    width: 100vw;
    height: 582px;
    margin-bottom: 290px;

}

.filter {
    width: 100vw;
    height: 582px;
    background: rgba(245, 240, 240, 0.93);
    position: relative;
    top: 0;
}

.footer p {
    margin: 0 auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #000000;

    width: 70%;
    position: relative;
    margin-top: -450px;
}

.one {
    background-image: url(images/pages/1.png);
}

.two {
    background-image: url(images/pages/2.png);
}

.three {
    background-image: url(images/pages/3.png);
}

.four {
    background-image: url(images/pages/4.png);
}

.five {
    background-image: url(images/pages/5.png);
}

.six {
    background-image: url(images/pages/6.png);
}

.seven {
    background-image: url(images/pages/7.png);
}

.eight {
    background-image: url(images/pages/8.png);
}

.nine {
    background-image: url(images/pages/9.png);
}

.ten {
    background-image: url(images/pages/10.png);
}

.footer ul {
    margin: 0 auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #000000;

    width: 70%;
    position: relative;
    /* margin-top: -450px; */
}

.footerr {
    margin-top: 50px;
    width: 100vw;
    height: 66px;


    background: #000000;
}

.footerr p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */


    color: #FFFFFF;
    text-align: center;
    padding-top: 23px;
}

@media (min-width: 1440px) and (max-width: 1600px) {
    .image {
        background-position: 0 0;
    }

    .footer p {
        width: 85%;
    }

    .middle {
        width: 85%;
    }

    .footer ul {
        width: 85%;
    }

}

@media (min-width: 1024px) and (max-width: 1439px) {
    .image {
        background-position: 0 0;
    }

    .footer p {
        width: 90%;
        margin-top: -530px;
    }

    .middle {
        width: 90%;
    }

    .footer ul {
        width: 90%;
    }

    .content {
        width: 80%;
    }

}

@media (min-width: 768px) and (max-width: 1023px) {
    .head h1 {
        width: 100%;
    }

    .image {
        background-position: 0 0;
    }

    .footer p {
        width: 90%;
        margin-top: -655px;
    }

    .content {
        width: 90%;
    }

    .middle {
        width: 90%;
    }

    .footer ul {
        width: 90%;
    }

    .filter,
    .footer {
        height: 705px;
    }

}

@media (min-width: 425px) and (max-width: 767px) {
    .head h1 {
        width: 100%;
        font-size: 25px;
    }

    .image {
        background-position-x: -500px;
        background-position-y: 0;
    }

    .footer p {
        width: 90%;
        margin-top: -1221px;
    }

    .middle {
        width: 90%;
    }

    .footer ul {
        width: 90%;
    }

    .filter,
    .footer {
        height: 1229px;
    }

    .line {
        width: 100%;
    }

    .burger-menu {
        display: block;
    }

    .content {
        display: none;
    }

}

@media (min-width: 375px) and (max-width: 424px) {
    .head h1 {
        width: 100%;
        font-size: 15px;
    }

    .image {
        background-position-x: -500px;
        background-position-y: 0;
    }

    .footer p {
        width: 90%;
        margin-top: -1500px;
    }

    .middle {
        width: 90%;
    }

    .footer ul {
        width: 90%;
    }

    .filter,
    .footer {
        height: 1529px;
    }

    .line {
        width: 100%;
    }

    .burger-menu {
        display: block;
    }

    .content {
        display: none;
    }

}

@media (min-width: 320px) and (max-width: 374px) {
    .head h1 {
        width: 100%;
        font-size: 12px;
    }

    .burger-menu {
        display: block;
    }

    .content {
        display: none;
    }

    .image {
        background-position-x: -500px;
        background-position-y: 0;
    }

    .footer p {
        width: 90%;
        margin-top: -1700px;
    }

    .middle {
        width: 90%;
    }

    .footer ul {
        width: 90%;
    }

    .filter,
    .footer {
        height: 1749px;
    }

    .line {
        width: 100%;
    }

}